<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <template data-hr-component="hr.forms.default">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                {{if xUi.autocomplete}}
                <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="{{buildType}}" list="{{uniqueId}}-datalist" />
                <datalist id="{{uniqueId}}-datalist"></datalist>
                {{else}}
                <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="{{buildType}}" />
                {{/if}}
            </div>
        </div>
    </template>
    <template data-hr-variant="date-time">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" />
            </div>
        </div>
    </template>
    <template data-hr-variant="date">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" />
            </div>
        </div>
    </template>
    <template data-hr-variant="textarea">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <textarea id="{{uniqueId}}" class="form-control" name="{{buildName}}" rows="{{size}}"></textarea>
            </div>
        </div>
    </template>
    <template data-hr-variant="checkbox">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="{{buildName}}" value="{{buildValue}}" id="{{uniqueId}}" />&nbsp;
                <label class="form-check-label" for="{{uniqueId}}">{{title}}</label>
            </div>
        </div>
    </template>
    <template data-hr-variant="hidden">
        <input id="{{uniqueId}}" type="hidden" name="{{buildName}}" />
    </template>
    <template data-hr-variant="number">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="number" step="any" />
            </div>
        </div>
    </template>
    <template data-hr-variant="select">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <select id="{{uniqueId}}" class="form-control" name="{{buildName}}" />
            </div>
        </div>
    </template>
    <template data-hr-variant="multiselect">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <select id="{{uniqueId}}" class="form-control" name="{{buildName}}" multiple size="{{size}}" />
            </div>
        </div>
    </template>
    <template data-hr-variant="arrayEditor">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label>{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div data-hr-view="items" data-hr-view-component="hr.forms.default-arrayEditorItem"></div>
                        <button type="button" class="btn btn-default" data-hr-on-click="add">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="multicheckbox">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label>{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="panel panel-default" style="max-height:150px;overflow:auto;">
                    {{if xUi.selectAll}}
                    <div class="panel-body" style="padding:0px;">
                        <div class="form-check"><input type="checkbox" class="form-check-input" id="{{uniqueId}}-hr-multicheck-selectall" value="true" data-hr-on-click="selectAll" data-hr-handle="selectAll" />&nbsp;<label class="form-check-label" for="{{uniqueId}}-hr-multicheck-selectall">Select All</label></div>
                    </div>
                    {{/if}}
                    <div data-hr-view="items" style="padding:0px;" data-hr-view-component="hr.forms.default-multicheckboxitem"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </template>
    <template data-hr-variant="radiobutton">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label>{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div data-hr-view="items" data-hr-view-component="hr.forms.default-radiobutton"></div>
            </div>
        </div>
    </template>
    <template data-hr-variant="search">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}">
                    {{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span>
                </label>
                <div data-hr-on-focusout="stopSearch" data-hr-handle="searchFocusParent">
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" data-hr-on-input="updateSearch" />
                    <div class="dropdown" data-hr-toggle="popup" data-hr-class-on="open">
                        <ul class="dropdown-menu" data-hr-view="results" data-hr-view-component="hr.forms.default-searchResult"></ul>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template data-hr-component="hr.forms.default-multicheckboxitem">
        <div class="form-check"><input type="checkbox" class="form-check-input" value="{{value}}" data-hr-handle="check" />&nbsp;<label class="form-check-label">{{label}}</label></div>
    </template>

    <template data-hr-component="hr.forms.default-radiobutton">
        <div class="radio"><label><input type="radio" name="{{name}}" value="{{value}}" data-hr-handle="radio" />&nbsp;{{label}}</label></div>
    </template>

    <template data-hr-component="hr.forms.default-arrayEditorItem">
        <div class="panel panel-default"><div class="panel-body"><button type="button" data-hr-on-click="remove" class="btn btn-default" data-hr-form-end>Remove</button></div></div>
    </template>

    <template data-hr-component="hr.forms.default-searchResult">
        <li><a href="#" data-hr-on-click="selectItem">{{title}}</a></li>
    </template>
    <template data-hr-variant="message">
        <li><a>{{title}}</a></li>
    </template>

    <!-- Horizontal Form -->
    <template data-hr-component="hr.forms.horizontal">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10">
                    {{if xUi.autocomplete}}
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="{{buildType}}" list="{{uniqueId}}-datalist" />
                    <datalist id="{{uniqueId}}-datalist"></datalist>
                    {{else}}
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="{{buildType}}" />
                    {{/if}}
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="date-time">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10">
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" />
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="date">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10">
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" />
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="textarea">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10">
                    <textarea id="{{uniqueId}}" class="form-control" name="{{buildName}}" rows="{{size}}"></textarea>
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="checkbox">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="{{buildName}}" value="{{buildValue}}" id="{{uniqueId}}" />&nbsp;
                    <label class="form-check-label" for="{{uniqueId}}">{{title}}</label>
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="hidden">
        <input type="hidden" name="{{buildName}}" />
    </template>
    <template data-hr-variant="number">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label><div class="col-sm-10">
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="number" step="any" />
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="select">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label><div class="col-sm-10">
                    <select id="{{uniqueId}}" class="form-control" name="{{buildName}}" />
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="multiselect">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label><div class="col-sm-10">
                    <select id="{{uniqueId}}" class="form-control" name="{{buildName}}" multiple size="{{size}}" />
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="arrayEditor">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label class="control-label col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10 panel panel-default">
                    <div class="panel-body">
                        <div data-hr-view="items" data-hr-view-component="hr.forms.horizontal-arrayEditorItem"></div>
                        <button type="button" class="btn btn-default" data-hr-on-click="add">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template data-hr-variant="multicheckbox">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label class="control-label col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10 panel panel-default" style="max-height:150px;overflow:auto;">
                    {{if xUi.selectAll}}
                    <div class="panel-body" style="padding:0px;">
                        <div class="form-check"><input type="checkbox" class="form-check-input" id="{{uniqueId}}-hr-multicheck-selectall" value="true" data-hr-on-click="selectAll" data-hr-handle="selectAll" />&nbsp;<label class="form-check-label" for="{{uniqueId}}-hr-multicheck-selectall">Select All</label></div>
                    </div>
                    {{/if}}
                    <div class="panel-body" style="padding:0px;" data-hr-view="items" data-hr-view-component="hr.forms.horizontal-multicheckboxitem"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </template>
    <template data-hr-variant="radiobutton">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label class="control-label col-sm-2">{{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span></label>
                <div class="col-sm-10" data-hr-view="items" data-hr-view-component="hr.forms.horizontal-radiobutton"></div>
            </div>
        </div>
    </template>
    <template data-hr-variant="search">
        <div data-hr-toggle="{{buildName}}Hide" data-hr-style-on="display:none;">
            <div class="form-group" data-hr-toggle="{{buildName}}Error" data-hr-class-on="has-error">
                <label for="{{uniqueId}}" class="col-sm-2">
                    {{title}}<span data-hr-view="{{buildName}}ErrorMessage" data-hr-toggle="{{buildName}}Error" data-hr-style-on="display:inline" style="display:none"> - {{{this}}}</span>
                </label>
                <div class="col-sm-10" data-hr-on-focusout="stopSearch" data-hr-handle="searchFocusParent">
                    <input id="{{uniqueId}}" class="form-control" name="{{buildName}}" type="text" data-hr-on-input="updateSearch" />
                    <div class="dropdown" data-hr-toggle="popup" data-hr-class-on="open">
                        <ul class="dropdown-menu" data-hr-view="results" data-hr-view-component="hr.forms.horizontal-searchResult"></ul>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template data-hr-component="hr.forms.horizontal-multicheckboxitem">
        <div class="form-check"><input type="checkbox" class="form-check-input" value="{{value}}" data-hr-handle="check" />&nbsp;<label class="form-check-label">{{label}}</label></div>
    </template>

    <template data-hr-component="hr.forms.horizontal-radiobutton">
        <div class="radio"><label><input type="radio" name="{{name}}" value="{{value}}" data-hr-handle="radio" />&nbsp;{{label}}</label></div>
    </template>

    <template data-hr-component="hr.forms.horizontal-arrayEditorItem">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" data-hr-on-click="remove" class="btn btn-default" data-hr-form-end>Remove</button>
            </div>
        </div>
    </template>

    <template data-hr-component="hr.forms.horizontal-searchResult">
        <li><a href="#" data-hr-on-click="selectItem">{{title}}</a></li>
    </template>
    <template data-hr-variant="message">
        <li><a>{{title}}</a></li>
    </template>
</body>
</html>